<template>
  <card>
    <loading v-if="loading" />
    <error v-else-if="error" :error="error">
      Could not load metadata for GitLab
    </error>
    <div v-else>
      <h2>{{ project.percent }}% foolish</h2>
      <figure v-if="config">
        <p>
          Currently {{ project.last.jest }} of {{ project.last.total }} frontend
          test files are written in Jest. Progress over time:
        </p>
        <figure>
          <graph :config="config" />
          <figcaption>
            This graph plots amount of test files in % against time. (
            <file file-class="blue" />
            Karma /
            <file file-class="green" />
            Jest )
            <br />
          </figcaption>
        </figure>
      </figure>
      <small>
        Based on commit
        <a :href="project.commitUrl"> {{ project.commit.substring(0, 10) }} </a
        >, authored
        <time-ago :date="project.commitTime" />
      </small>
    </div>
  </card>
</template>
<script>
import { retrieveJestMetadata } from '@/assets';
import TimeAgo from './shared/TimeAgo.vue';
import FileList from './FileList.vue';
import File from './File.vue';
import Loading from './shared/Loading.vue';
import Error from './shared/Error.vue';
import Card from './shared/Card.vue';
import Graph from './shared/Graph.vue';
import getChartConfig from '@/assets/chartConfig';

export default {
  components: {
    Card,
    Error,
    Graph,
    File,
    TimeAgo,
    Loading,
    // FileList,
  },
  data() {
    return { project: {}, loading: true, error: false, config: false };
  },
  mounted() {
    retrieveJestMetadata()
      .then(project => {
        this.project = project;
        this.config = getChartConfig('jest', project.dataset);
        this.loading = false;
      })
      .catch(e => {
        this.error = e;
        this.loading = false;
      });
  },
};
</script>
