<template>
  <card>
    <loading v-if="loading" />
    <error v-else-if="error" :error="error">
      Could not load metadata for GitLab {{ projectKey.toUpperCase() }}
    </error>
    <div v-else>
      <h2 :id="project.version">
        {{ project.name }}
        <small>{{ project.percent }}% pretty</small>
      </h2>
      <p v-if="project.percent < 100">
        {{ project.pretty }} of {{ project.total }} files conform with our
        prettier settings.
        <br />
        If you run prettier on the whole code base, you'd have to deal with:
        <br />
        <code>{{ project.shortstat }}</code>
        <br />
      </p>
      <chart :project-key="projectKey" target="prettier">
        <p slot="header">
          Progress over time:
        </p>
        <figcaption slot="caption">
          This graph plots prettiness
          <file file-class="green" />
          and total line changes needed
          <file file-class="blue" />
          against time.<br />
          Hover over a spot in the diagram to see more details.
        </figcaption>
      </chart>
      <small>
        Based on commit
        <a :href="project.commitUrl"> {{ project.commit.substring(0, 10) }} </a
        >, authored
        <time-ago :date="project.commitTime" />
      </small>
    </div>
  </card>
</template>
<script>
import { retrievePrettierMetadata } from '@/assets';
import TimeAgo from './shared/TimeAgo.vue';
import File from './File.vue';
import Loading from './shared/Loading.vue';
import Error from './shared/Error.vue';
import Card from './shared/Card.vue';
import Chart from './shared/Chart.vue';

export default {
  components: {
    Card,
    Error,
    Chart,
    File,
    TimeAgo,
    Loading,
  },
  props: {
    projectKey: {
      type: String,
      required: true,
    },
  },
  data() {
    return { project: {}, loading: true, error: false };
  },
  mounted() {
    retrievePrettierMetadata(this.projectKey)
      .then(project => {
        this.project = project;
        this.loading = false;
      })
      .catch(e => {
        this.error = e;
        this.loading = false;
      });
  },
};
</script>
